.landing {
  .display-3 {
    letter-spacing: 0.26em;
    font-size: 4.5vw;
    text-shadow: 0px 0px 6px $primary-seegreen,
      0px 0px 94px rgba(48, 168, 162, 0.6);
    font-weight: 200;
  }
  .nav-bg {
    background-color: rgba(17, 17, 17, 0.9);
    height: 80px;
  }
  .lime-outline-hexa {
    left: 0;
    top: 10%;
  }
  .g-outline-hexa-landing {
    right: 0;
    top: 50%;
  }
  .Orange-hexa {
    left: 0;
    top: 60%;
  }
  .card {
    background-color: transparent;
  }
}
