// Primary and secondary color

$primary-seegreen: #30a8a2;
$acid-green: #adca00;
$yellow-orange: #ff9900;
$dark-blue: #254e6a;
$creative-purple: #787aa7;
$white: #ffffff;

// Black and Mono gray
$black: #000000;
$body-darak-bg: #111111;
$eerie-black: #232323;
$nero-black: #292929;
$jet-gray: #333333;
$mono-gray-1: #333333;
$mono-gray-2: #4f4f4f;
$mono-gray-3: #828282;
$mono-gray-4: #bdbdbd;
$mono-gray-5: #e0e0e0;
$mono-gray-6: #f2f2f2;
$mono-gray-green: #818a91;
$facebook-color: #4267b2;
$google-color: #4086f4;

$light-red: #ebcccc;
$custom-red: #a94442;
$light-green: #adca00;
