// Font sizes
.f-size-24 {
  font-size: 1.5rem;
}
.f-size-32 {
  font-size: 2rem;
}
.l-h-36 {
  line-height: 36px;
}
.l-h-48 {
  line-height: 48px;
}
// Font Color
.mono-gray-4-color {
  color: $mono-gray-4; //bdbdbd
}
.mono-gray-5-color {
  color: $mono-gray-5; //e0e0e0
}
// background
.gray-1-bg {
  background-color: $jet-gray;
}
.nero-black-bg {
  background-color: $nero-black;
}
// FuturMakr custom tabs with green button border
.fm-customize-tabs {
  .fm-tabs {
    background-color: $eerie-black;
    a {
      width: 216px;
      height: 81px;
      padding-top: 16px;
      padding-right: 0px;
      padding-bottom: 16px;
      padding-left: 24px;
      border-bottom: 8px solid $jet-gray;
      background-color: $jet-gray;
      color: $mono-gray-4;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      //border-radius: 0px;
      display: block;
    }
    .fm-link.active,
    a:hover {
      color: $white;
      text-decoration: none;
      border: 1px solid $black;
      border-bottom: 8px solid $primary-seegreen;
      background-color: $mono-gray-2;
    }
  }
  .fm-tabs-content {
    background-color: $eerie-black;
  }
}
.fm-form {
  .fm-form-ins {
    border-bottom: 12px solid $primary-seegreen;
  }
}

// Body
html {
  overflow-anchor: none;
}
// Footer
footer {
  background-color: $jet-gray;
}
